.header-main {
  background-color: var(--color-secundary);
  padding: 1.5rem;
  text-align: center;
}
.logo {
  font-size: 2.5rem;
  color: var(--color-primary);
  font-family: var(--font-title);
  margin-bottom: 1rem;
}
.logo-span {
  color: var(--color-aux);
}

.social-media {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.icon-header {
  color: var(--color-primary);
  font-size: 2.5rem;
  cursor: pointer;
  padding: 1rem;
}
.icon-header:hover {
  color: var(--color-aux);
  transition: 1s;
}
